<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
	id="WebApp_ID" version="6.0">

	<context-param>
		<description>MySQL connection URL</description>
		<param-name>conURL</param-name>
		<param-value>jdbc:mysql://localhost:3306/advjava</param-value>
	</context-param>

	<context-param>
		<description>Username</description>
		<param-name>username</param-name>
		<param-value>root</param-value>
	</context-param>
	<context-param>
		<description>Password</description>
		<param-name>password</param-name>
		<param-value>root</param-value>
	</context-param>
</web-app>